body {
  background-color: black;
  /* overflow-y: hidden; */
}

::-webkit-scrollbar{
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 25%;
}

h5 {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}

h5 a {
  color: whitesmoke;
  text-decoration: none;
}



h5 a:hover {
  /* color: #9ed0ff; */
  color : #255B8A;
}

.titre {
  font-size: 50px;
  height: fit-content;
  
}

.clip {
  height: 500px;
  transition: all 1s ease;
}

/* NEWSLETTER */

.main>#singular-form {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}
.main>#singular-form button {
  width: 9rem;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}
.main>#singular-form>button#subs {
  padding: 0;
  width: 100%;
  color: #fbb016;
  background-color: transparent;
  z-index: 3;
}
.main>#singular-form>#email-input {
  z-index: 2;
}
.main>#singular-form>#email-input>input {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0 26% 0 3%;
  opacity: 0;
  transform: scale(0);
  transition: all .6s ease .4s;
}
.main>#singular-form>#email-input>button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fbb016;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: all .6s ease .4s;
}
.main>#singular-form>#success {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fbb016;
  font-weight: bold;
  z-index: 1;
}
.main>#singular-form>button#subs,
.main>#singular-form>#email-input,
.main>#singular-form>#success {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0);
  opacity: 0;
}
.main>#singular-form>button#subs {
  transition: all .6s ease;
}
.main>#singular-form>#email-input {
  transform: scale(1);
  opacity: 1;
  transition: all .6s ease .4s;
}

.main>#singular-form>#success {
  transition: all .2s ease .6s;
}
.main>#singular-form>button#subs.shown,
.main>#singular-form>#email-input.shown,
.main>#singular-form>#success.shown,
.main>#singular-form>#email-input>button.shown,
.main>#singular-form>#email-input>input.shown {
  transform: scale(1);
  opacity: 1;
}

/* ANIMATION CSS */

.vignets {
  opacity: 0;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}
.vignets.load {
  opacity: 1;
}

/* ICON FOOTER */

footer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.credit {
  width: 50%;
  color: white;
}

.socialicon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}

.icons .icon {
  list-style: none;
  display: inline-block;
}

.icons .icon a {
  width: 60px;
  height: 60px;
  display: flex;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}

.icons .icon a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.icons .icon a .fab {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}

.icons .icon:nth-child(1) a:hover .fab {
  color: #277e05;
}

.icons .icon:nth-child(2) a:hover .fab {
  color: #00aced;
}

.icons .icon:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.icons .icon:nth-child(4) a:hover .fab {
  color: #e4405f;
}

ul {
  padding-inline-start: 0px !important;
}

/* MEDIA QUERY */

/* For mobile phones: */
@media (min-width: 350px) {
  .titre {
    font-size: 15px;
  }

  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

  /* For tablets: */
@media (min-width: 600px) {
  .titre {
    font-size: 30px;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}


/* NEWSLETTER */

